"use strict";

function render(myList) {
   return React.createElement(
      "ul",
      null,
      myList.map(function (myElement) {
         return React.createElement(
            "li",
            null,
            myElement
         );
      })
   );
}